@media screen and (max-height: 450px) {
    .navbar {padding-top: 15px;}
    .navbar a {font-size: 18px;}
}

html, body {
    background-color: #444444;
    height: 100%;
    padding: 0;
    margin: 0;
    padding:0 0 60px 0;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    padding-bottom: 6rem;
    position: relative;
}

.navbar img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 75%;  
    padding-top: 20px;
    padding-bottom: 20px;  
}

.navbar {
    margin-top: 0;
    border-right: solid 8px #2192CE;
    background-color: #444444;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    box-shadow: 7px 6px 21px -3px rgba(0,0,0,0.75); 
}

.navbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #FEFEFE;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

hr {
    border: solid 1px #2192CE;
}

.content {
    position:absolute;
    width:100%;
    top:40px;
    bottom:40px;
    overflow-y:auto;
}

#beschrijving {
    background-color: #258fd0;
    display: inline-block;
    margin-left: 180px;
    margin-top: 20px;
    color: #FEFEFE;
    overflow: hidden;
    border-spacing: 0;   
    border: 3px solid #258fd0;
    border-radius: 10px;
    box-shadow: 7px 6px 21px -3px rgba(0,0,0,0.75); 
    padding: 5px;    
}

table, th {
    text-align: left;
    height: 30px;
    margin: 0;
    padding: 0;
    border-collapse: collapse;    
}

table {
    background-color: #838383;
    border: solid 3px #FEFEFE;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

th {
    background-color: #258fd0;
    color: white; 
    margin: 0;
    padding: 5px; 
}

td {
    padding: 7px;
    border-collapse: collapse;
}

#customer_overview {
    display: inline-block;
    background-color: #258fd0;
    border-collapse: collapse;
    overflow: hidden;
    border-spacing: 0;   
    border: 3px solid #258fd0;
    border-radius: 10px;
    padding: 5px;
    color: #FEFEFE;
    box-shadow: 7px 6px 21px -3px rgba(0,0,0,0.75); 
}

.footer { 
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: #FEFEFE;
    background-color: #838383;
    text-align: center;
    line-height: 0;   
    height: 1rem;
}